<section id="buttons" class="">
<header>
	<span class="title"><h2>Buttons Section</h2> </span>
	<a data-target="aside" data-aside="#leftmenu" data-apos="left" href="#" data-icon="list" class="white16 sleft"></a>
</header>
	<article id="main" class="">
		<div class="content" style="text-align: center;padding-top: 20px;">
			<button>Normal Button</button> <br/>
		</div>
	</article>
</section>
