<section id="content" class="">
<header>
	<span class="title"><h2>Content Section</h2> </span>
	<a data-target="aside" data-aside="#leftmenu" data-apos="left" href="#" data-icon="list" class="white16 sleft"></a>
</header>
	<article id="main-menu" class="">
		<div>
			HERE.
		</div>
		<div class="content" style="">
			<fieldset>
			Oh herro This is one of those kick ass pages.
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			YOU KNOW.
			</fieldset>
		</div>
	</article>
</section>