<section id="forms" class="">
<header>
	<span class="title"><h2>Forms Section</h2> </span>
	<a data-target="aside" data-aside="#leftmenu" data-apos="left" href="#" data-icon="list" class="white16 sleft"></a>
</header>
	<article id="main-menu" class="">
		<div class="content">
			<form>
				<h1>Input Field</h1>
				<fieldset>
					<input type="text" name="text" />
				</fieldset>
				<fieldset>
					<ul>
						<li>Version 1</li>
						<li>Test</li>
					</ul>
				</fieldset>
				<button>TESTING<button>
			</form>
		</div>
	</article>
</section>