<section id="lists" class="">
<header>
	<span class="title"><h2>Lists Section</h2> </span>
	<a data-target="aside" data-aside="#leftmenu" data-apos="left" href="#" data-icon="list" class="white16 sleft"></a>
</header>
	<article id="main-menu" class="">
		<div class="content">
			<ul class="list">
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
				<li>TEST LIST</li>
			</ul>
		</div>
	</article>
</section>