<aside id="leftmenu" class="scrollable aside-l">
	<ul class="menu">
		<li class="header">Main Menu</li>
		<li data-icon="home" class="white16"><a href="#main" data-target="section">Dashboard</a></li>
		<li data-icon="list-nest" class="white16"><a href="#forms" data-target="section">Forms</a></li>
		<li data-icon="list" class="white16"><a href="#lists" data-target="section">Lists</a></li>
		<li data-icon="folder-stroke" class="white16"><a href="#buttons" data-target="article">Buttons</a></li>
		<li data-icon="document-stroke" class="white16"><a href="#content" data-target="section">Content</a></li>
	</ul>
</aside>
