body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, section, article {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a.icon {
    margin: 2px 1px 0px;
    text-decoration: none;
}

header, footer {
    position: absolute;
    height: 35px;
    width: 100%;
    display: block;
    z-index:2;
    line-height:20px;	
    background-color: #146469;
    border-bottom: 2px solid #94346C;
}

header span.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 9px;
    display: inline-block;
    text-align:center !important;
    font-weight:bold;
    color: #FCFFF5;
    z-index: -1;
}

section {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:1;
	display: none;
}

section.active {
	position: absolute;
	display: block;
}
section.scroller{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

article {
	position: absolute;
	width: 100% !important;
	height: auto;
	top: 0;
	left: 0;
	visibility:none;
	z-index:0;	
}
article.active {
	visibility:visible;
	z-index:0;
}
article div.content {
	margin-top: 35px;
	clear: both;
}

.sleft {
	float: left;
}

.sright{
	float: right;
}

[data-icon]:before {
    font-family: "EntypoRegular";
    content: attr(data-icon);
    font-size: 50px;
    color: white;
	margin-top: -6px;
	margin-left: 3px;
}
