/*
 *
 * Timeline
 *
 */
 .timeline {
 	background-color: #fff;
	 margin: 20px 5px 5px;
	 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	 -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	 -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	 border: solid 1px #E5E5E5;
	 padding: 1px;

 }
 
 div.timeline:hover, div.hover {
 	margin: 20px -1px -1px;
	zoom: 105%;
 }
 
 .timeline-h {
 	padding-left: 4px;
 	height: 30px;
 	line-height: 30px;
	font-size: 15px;
	font-family: "Arial Hebrew";
	color: #F2F2F2;
	background-color: #393939;
 }
 
 div.timeline-h a[data-icon] {
 	padding-top: 6px;
 	padding-right: 5px;
 }
 
 .th_open {
 	color: #393939;
 	background-color: #99CC00;
 }
 .th_urgent {
 	color: #393939;
 	background-color: #CC3400;
 }
 .th_closed {
 	color: #F2F2F2;
 	background-color: #393939;
 }

.timeline-c {
	padding: 4px;
	font: 12px "Arial Hebrew";
	font-weight:  100;
}
.timeline-f {
	background-color: #e0e0e0;
	padding-left: 4px;
	font: 10px "Arial Hebrew";
	font-weight:  100;
}
