button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color:#424343;
	
	border-top-color:#828283;
	border-bottom-color:#313132;
	
	color:#FFFFFF;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:enabled:active, input[type="button"]:enabled:active, input[type="submit"]:enabled:active, input[type="reset"]:enabled:active,
button:enabled.active, input[type="button"]:enabled.active, input[type="submit"]:enabled.active, input[type="reset"]:enabled.active {
	background-color:#32A5CF;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#68BCD9;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#2882A2;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
}