body{
	padding: 0;
	overflow: hidden;
}
section {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100%;
	z-index:1;
	display: none;
	overflow:hidden;
	-webkit-transform:translate(100%,0);
}

section.active {
	display: block;
	-webkit-transform:translate(0,0);
}
section.aside{
	-webkit-transform:translate(250px,0);

}

article {
	width: 100% !important;
	height: 100%;
	left: 0;
	top: 0;
	right: -30px;
	bottom: 0;
	padding-right: 15px;
	padding-top: 50px;
	visibility:none;
	z-index:0;
	overflow-y: scroll;
	overflow-z: hidden;
	-webkit-overflow-scrolling: touch;

}
article.active {
	visibility:visible;
	z-index:0;
}
article div.content {
	margin-top: 35px;
	clear: both;
}
aside {
	position: absolute;
	width: 250px;
	max-width: 250px;
	height: 100%;
	top: 0px;
	z-index: 2;
	background-color: #252525;
	-webkit-transform: translate(-250px,0);
	
}

aside.active {
	-webkit-transform:translate(0,0);
}
aside a {
	display: block;
	width: 244px;
	height: 40px;
	padding-left: 5px;
	margin-bottom: 2px;
	font-size: 15px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	background: #252525;
	box-shadow: 0 2px 1px #333;
	border-bottom: 1px solid #000;

}

.sleft {
	float: left !important;
}

.sright{
	float: right !important;
}

/*
*
*Boot Strap Over Ride
*
*/
.navbar-fixed-top { 
	position: fixed;
	width: 100%;
	display: block;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	margin-left: 0px;
	margin-right:  0px;
}
.navbar-fixed-top .navbar-inner {
	text-align: center;
}
.navbar .brand {
	float: none;
}