body {
	background-attachment:fixed;
	
	font-family:Roboto, "Droid Sans", Arial, Helvetica, sans-serif;
	font-size:11pt;
}



*:disabled {
	opacity:0.3;
}

/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#272D33));
	background-image:-webkit-linear-gradient(#000000, #272D33);
	background-image:   -moz-linear-gradient(#000000, #272D33);
	background-image:    -ms-linear-gradient(#000000, #272D33);
	background-image:     -o-linear-gradient(#000000, #272D33);
	background-image:        linear-gradient(#000000, #272D33);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33')";
	
	color:white;
}

a {
	color:#33B5E5;
}


body, section, article {
	font-family: Helvetica, Arial, sans-serif;
}

header, footer {
	text-align: center !important;
	border-bottom: 2px solid #94346C;
	background-color: #333;
}

header h2{
	color: #FFF;
	font-size: 17px;
}

header span.navigation {
	font-weight: bold;
	color: #FFF;
	font-size: 17px;
	background-color: #CC3400;
}

section {
	border: 0px;
	font: 12px "Arial Hebrew";
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#272D33));
	background-image:-webkit-linear-gradient(#000000, #272D33);
	background-image:   -moz-linear-gradient(#000000, #272D33);
	background-image:    -ms-linear-gradient(#000000, #272D33);
	background-image:     -o-linear-gradient(#000000, #272D33);
	background-image:        linear-gradient(#000000, #272D33);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33')";
	
	color:white;
}
section a{
	color: #2f2f2f;
	font: 12px "Arial Hebrew";
	text-decoration: underline;
}

section header{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #010101;
    border-bottom-color: #33B5E5;
}

aside.aside-l {
	box-shadow: 2px 0 1px #333;
	border-right: 1px solid #000;
	background-color: #E8E8E8;
	background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 50%, from(#FBFBFB), to(#E8E8E8));
	background-image: -webkit-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -moz-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -ms-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -o-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB')";
	color: black;
}

aside.aside-r {
	box-shadow: -2px 0 1px #333;
	border-left: 1px solid #000;
	background-color: #E8E8E8;
	background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 50%, from(#FBFBFB), to(#E8E8E8));
	background-image: -webkit-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -moz-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -ms-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: -o-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image: radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB')";
	color: black;
}


aside.header {
	background-image: url('../img/HeaderBG.png');
	border: 0px;
}
aside div div.title{
	text-align:center;
	height: 30px;
	font-size: 15px;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

ul.menu li.menu-title{
	font-weight: bold;
	color: #C5C6C7;
	font: 14px "Arial Hebrew";
	background-color: #333;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

ul.menu li {
    background-color: #DDDDDD;
    border-bottom-color: #D2D2D2;
}

ul.menu li.header {
    text-align:center;
}

ul.menu li a{
    color: #000;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
}

ul.menu li span.search{
	border-radius: 4px;
	color: #E0E0E0;
	background: #252525;
}

ul.menu li span.search input{
	padding: 1px;
	color: #E0E0E0;
	background: #252525;
	border:	1px #444 solid;
}

ul.list li{
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
