
body{
	width: device-width;
	max-width: device-width;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

body, section, article {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a {
	z-index: 5;
}

header, footer {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 100%;
	display: block;
	z-index:2;	
}

header span.title{
	height: 35px;
	display: inline-block;
	text-align:center !important;
	z-index: -1;
	margin-top: -10px;
}

header h2{
	padding-top: 4px;
}

header span.navigation {
	z-index: -1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 10px;
	padding-top: 3px;
	padding-right: 4px;
	padding-left: 4px;
}

header a[data-icon]{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
ul.menu a span[data-icon]{
	max-height: 16px;
	max-width: 16px;
}

section {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100%;
	z-index:4;
	display: none;
	visibility:none;
	overflow:hidden;
	-webkit-transform:translate(100%,0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	
}

section.active {
	z-index:2;
	display: block;
	-webkit-transform:translate(0,0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
}
section.aside-l{
	-webkit-transform:translate(250px,0);
}
section.aside-r{
	-webkit-transform:translate(-250px,0);
}

article {
	position:  static;
	width: 100% !important;
	height: 100%;
	min-height:100%;
	margin-top: 35px;
	left: 0;
	top: 0;
	right: -30px;
	bottom: 0;
	padding-right: 15px;
	visibility:none;
	z-index:-1;
	overflow-y: scroll;
	overflow-z: hidden;
	-webkit-overflow-scrolling: touch;

}

article.header{

}

article.active {
	visibility:visible;
	z-index:-1;
}
article div.content {
	clear: both;
	
}
aside {
	display: none;
}

aside.aside-l {
	position: absolute;
	width: 250px;
	max-width: 250px;
	height: 100%;
	top: 0px;
	z-index: 2;
	-webkit-transform: translate(-254px,0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	display: none;
}

aside.aside-r {

	position: absolute;
	width: 250px;
	max-width: 250px;
	height: 100%;
	top: 0px;
	right: 249px;
	z-index: 2;
	-webkit-transform: translate(508px,0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	display: none;
}

aside header span.title{

}
ul.menu li.menu-title{
	width: 100%;
	display: inline-block;
	text-align:center !important;
	z-index: -1;
	clear: both;
}

aside.aside-l.active {
	-webkit-transform:translate(0,0);
	display: block;
}
aside.aside-r.active {
	-webkit-transform:translate(250px,0);
	display: block;
}
ul.menu {
	padding: 0;
	margin: 0;
}
ul.menu li {
	display: block;
	width: 245px;
	padding-left: 5px;
	height: 40px;
	margin-bottom: 2px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
}

ul.menu li a{
	padding-left: 1em;
}

ul.menu li span.search{
	height: 20px;
	padding: 0;
	width: 235px;
	margin: 0px;
	border-radius: 4px;
}
ul.menu li span.search input{
	height: 20px;
	padding: 0;
	width: 235px;
	margin: 0px;
	border-radius: 4px;
}

ul.menu li span.search a{
	z-index: 4;
	margin-left: -34px;
	position: absolute;
	margin-top: 3px;
}

ul.list {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
}

ul.list li{
	height: 50px;
	line-height: 50px;
}

.sleft {
	float: left;
}

.sright{
	float: right;
}
