[data-icon="down-left"]{
	content: url('../img/icons/down-left.png');
}

[data-icon="home"].white16:before{
	
	content: url('../img/icons/white/home_16x16.png');
}

[data-icon="arrow-left"].white16:before {
	content: url('../img/icons/white/arrow_left_16x16.png');
}

[data-icon="arrow-right"].white16:before {
	content: url('../img/icons/white/arrow_right_16x16.png');
}

[data-icon="list"].white16:before {
	content: url('../img/icons/white/list_16x14.png');
}

[data-icon="list-nest"].white16:before {
	content: url('../img/icons/white/list_nested_16x14.png');
}

[data-icon="layers"].white16:before {
	content: url('../img/icons/white/layers_16x14.png');
}

[data-icon="chart"].white16:before {
	content: url('../img/icons/white/chart_16x16.png');
}

[data-icon="document-stroke"].white16:before {
	content: url('../img/icons/white/document_stroke_16x16.png');
}

[data-icon="info"].white16:before {
	content: url('../img/icons/white/info_16x32.png');
}

[data-icon="folder-stroke"].white16:before {
	content: url('../img/icons/white/folder_stroke_16x16.png');
}